[submodule "external/BaseClasses"]
	path = external/BaseClasses
	url = https://github.com/v0lt/BaseClasses.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
